@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Montserrat&display=swap");

.box-text {
  font-family: "Cinzel", serif;
  font-size: 1.5vw;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 4vw;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 2vw;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
}

#active{
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color:#ff0000;
  text-decoration-thickness: 2px;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

.menu a:hover {
  color: #ff0000;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

.top-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  width: 100%;
  height: 70px;
  z-index: 100;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 2%;
  font-size: 16pt;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  padding-right: 10%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#logo1 {
  padding-left: 2%;
}

@media (max-width: 768px) {
  .top-nav {
    height: 40px;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 40px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
    z-index: 200;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */
/* --Section con presentazioni-- */

.presentation-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.presentation-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rect-left {
  position: absolute;
  display: flex;
  left: 10%;
  width: 35vw;
  height: 35vw;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border: 5px solid white;
}

.rect-right {
  position: absolute;
  display: flex;
  right: 10%;
  width: 35vw;
  height: 35vw;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border: 5px solid white;
}

.rect-content {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#logo {
  padding-left: 2%;
}

.imm-over {
  width: 100%;
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

#section-title {
  text-align: center;
  margin: 0;
}


.section-card {
  width: 70%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -1vw -1vw 0.6vw 0.5vw rgba(0, 0, 0, 0.48);
  border: 2px solid white;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

#fake-1{
  opacity: 0%;
}

#fake-2{
  opacity: 0%;
}

.card img{
  width: 100%;
  height: auto;
}

.card:hover {
  transform: scale(1.1);
}

.text-card {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.all-cards {
  position: static;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  column-gap: 4vw;
  row-gap: 4vw;
}

.introduction {
  display: flex;
  align-items: flex-start;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

/* -- --------------------------------------------------------------------------------------------------------------------  
  -------------------------------------------------------------------------------------------------------------------- */

.footer-section {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.footer-content-1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer-content-2 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  width: 30%;
}

.footer-font-size {
  color: white;
  font-size: 1vw;
}

.footer-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.socials {
  width: 12%;
  aspect-ratio: 1/1;
}

#logo-footer {
  width: 100%;
}

/* -- --------------------------------------------------------------------------------------------------------------------  
  -------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2.5vw;
  }

  .box-text {
    font-size: 1.7vw;
  }

  p {
    font-size: 1.7vw;
  }

  .card-font-size {
    font-size: 2vw;
  }

  #quadrato-n4{
    font-size: 1.6vw;
  }

  .all-cards {
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    column-gap: 4vw;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 3vw;
  }

  h2 {
    font-size: 5vw;
  }

  .box-text {
    font-size: 4vw;
  }

  .card-font-size {
    font-size: 2vw;
  }

  #quadrato-n4{
    font-size: 4vw;
  }

  .presentation-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .presentation-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rect-left {
    position: absolute;
    display: flex;
    left: unset;
    width: 90vw;
    height: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .rect-right {
    position: absolute;
    display: flex;
    right: unset;
    width: 90vw;
    height: 90vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .imm-over {
    object-fit: cover;
    height: 120vw;
  }

  .section-card {
    width: 70%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .all-cards {
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    column-gap: 4vw;
    row-gap: 4vw;
  }

  .card {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: -1vw -1vw 0.6vw 0.5vw rgba(0, 0, 0, 0.48);
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
  }

  .introduction {
    width: unset;
  }

  .footer-text {
    width: 60%;
  }

  .footer-font-size {
    color: white;
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw;
  }

  .box-text {
    font-size: 4vw;
  }

  .card-font-size {
    font-size: 6vw;
  }

  .presentation-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .presentation-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rect-left {
    position: absolute;
    display: flex;
    left: unset;
    width: 90vw;
    height: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .rect-right {
    position: absolute;
    display: flex;
    right: unset;
    width: 90vw;
    height: 90vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .imm-over {
    object-fit: cover;
    height: 120vw;
  }

  .all-cards {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    row-gap: 8vw;
    column-gap: 4vw;
  }

  .card{
    width: 70%;
  }

  #fake-1{
    opacity: 0%;
    display:none;
  }
  
  #fake-2{
    opacity: 0%;
    display:none;
  }


  .introduction {
    max-width: 90%;
  }

  .footer-text {
    width: 60%;
  }

  .footer-font-size {
    color: white;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .card-font-size {
    font-size: 6vw;
  }

  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw;
  }

  .box-text {
    font-size: 4vw;
  }

  .presentation-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .presentation-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rect-left {
    position: absolute;
    display: flex;
    left: unset;
    width: 90vw;
    height: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .rect-right {
    position: absolute;
    display: flex;
    right: unset;
    width: 90vw;
    height: 90vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .imm-over {
    object-fit: cover;
    height: 120vw;
  }

  .all-cards {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .card {
    max-width: 70%;
  }

  .introduction {
    max-width: 90%;
  }
}
