@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Montserrat&display=swap");

h1 {
  font-family: "Cinzel", serif;
  font-size: 4vw;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 2vw;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
}

.title-rect-content {
  margin: 0;
}

#active {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #ff0000;
  text-decoration-thickness: 2px;
}

.card-font-size {
  font-size: 2vw;
}

a {
  text-decoration: none;
  display: flex;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

.menu a:hover {
  color: #ff0000;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

.top-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  width: 100%;
  height: 70px;
  z-index: 100;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 2%;
  font-size: 16pt;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  padding-right: 10%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#logo1 {
  padding-left: 2%;
}

@media (max-width: 768px) {
  .top-nav {
    height: 40px;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 40px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
    z-index: 200;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

.presentation-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rect-left {
  position: absolute;
  display: flex;
  left: 10%;
  width: 35vw;
  height: 35vw;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border: 5px solid white;
}

.rect-content {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.title-rect-content {
  margin: 0;
}

.imm-over {
  width: 100%;
  height: auto;
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 0;
  padding-top: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: -1vw -1vw 0.6vw 0.5vw rgba(0, 0, 0, 0.48);
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

.container-card img {
  max-width: 100%;
  height: auto;
}

.container-card {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4vw;
  column-gap: 4vw;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container-text {
  width: 50%;
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

footer {
  background-color: black;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer-text {
  width: 100%;
  text-align: center;
}

.footer-font-size {
  color: white;
  width: 85%;
  margin: auto;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 50%;
}

.social {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.social img {
  width: 80%;
  height: auto;
}

.footer-logo {
  width: 20%;
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2.5vw;
  }

  p {
    font-size: 1.7vw;
  }

  .card-font-size {
    font-size: 1.7vw;
  }
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 13vw;
  }

  h2 {
    font-size: 5vw;
  }

  p {
    font-size: 3vw;
  }

  .card-font-size {
    font-size: 3vw;
  }

  .presentation-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rect-left {
    position: absolute;
    display: flex;
    left: unset;
    width: 90vw;
    height: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .imm-over {
    object-fit: cover;
    height: 120vw;
  }

  .container-text {
    width: unset;
  }

  .container-card {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6vw;
    column-gap: 6vw;
    margin: auto;
    padding-top: 5%;
  }

  .footer-font-size {
    color: white;
    width: 70%;
    margin: auto;
    font-size: 2vw;
  }

  .footer-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  }

  .footer-logo {
    width: 30%;
  }
}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 425px) {
  h1 {
    font-size: 13vw;
  }

  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw;
  }

  .card-font-size {
    font-size: 6vw;
  }

  .presentation-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rect-left {
    position: absolute;
    display: flex;
    left: unset;
    width: 90vw;
    height: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .imm-over {
    object-fit: cover;
    height: 120vw;
  }

  .card {
    max-width: 70%;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8vw;
    column-gap: 4vw;
    padding-top: 5%;
  }

  .footer-font-size {
    color: white;
    margin: auto;
    font-size: 3vw;
  }

  .footer-logo {
    width: 40%;
  }

  .footer-container {
    display: flex;
    align-items: center;
    width: 70%;
  }

  .social img {
    width: 100%;
    height: auto;
  }

}

/* -- --------------------------------------------------------------------------------------------------------------------  
-------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {
  h1 {
    font-size: 13vw;
  }

  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw;
  }

  .presentation-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rect-left {
    position: absolute;
    display: flex;
    left: unset;
    width: 90vw;
    height: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 5px solid white;
  }

  .imm-over {
    object-fit: cover;
    height: 120vw;
  }

  .card {
    max-width: 60%;
  }
  
}
