body,header{
padding: 0;
margin: 0;

}



body {

    line-height: 1.4;

}

#l1 {

height: 50px;
width: auto;
display: block;
margin: 0;
padding: 0;
margin-right: auto;

}

li {
margin: 0;
padding: 0 20px;

}

ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px;

}


header {
background: black;
display: flex;
align-items: center;
justify-content: center;


}

header nav {

    justify-self: center;

}






/*============================overlay===============================*/







.imm-character {
    max-width: 100%; /* Fissa la larghezza dell'immagine al 100% del contenitore */
    height: auto;
    display: block; /* Evita spazi vuoti sotto l'immagine */

    
}

.container-character {

    position: relative;
    display: inline-block;
   
}

.overlay {
position: absolute;
top: 50%;
left: 25%;
transform: translate(-50%, -50%);
width: 30vw;
height: 30vw; /*oppure 30vw per rimpicciolire il quadrato, con il testo che fuoriesce */
padding: 10px;
background-color: rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border: 5px solid white;
display: flex;
justify-content: center;
align-items: center;
justify-items: center;
align-items: center;
justify-self: center;
align-content: center;
z-index: 1;

}

.container-character h1 {
    color: white;
    font-size: 48px;
    text-align: center;

} 

.container-character h2 {
    color: white;
    font-size: 32px;

} 



/*============================testo personaggi + imaggine GRIGLIA ================================ */
.character-grid {

display: flex;
width: 70%;
margin: auto;
justify-content: center;
align-content: center;
align-items: center;
justify-items: center;
column-gap: 4rem;
}


.character-grid img {


max-width: 100%;
height: auto;
padding: 0;
margin: 0;
}

.character-text {

max-width: 40%;


}



.character-grid2 {

    display: flex;

    width: 70%;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 4rem;
    
    }
    
    .character-grid2 img {
    max-width: 100%;
    padding: 0;
    margin: 0;

    }
    
    .character-text2 {
    
    max-width: 40%;
  
    }
/*====================================================================== */






/*============================testo globale================================ */



 p {

font-size: 20px;

}



